NapiFix/.vs/NapiFix/v16/Server/sqlite3/storage.ide-shm
NapiFix/.vs/NapiFix/v16/Server/sqlite3/db.lock
NapiFix/.vs/NapiFix/v16/Server/sqlite3/storage.ide
NapiFix/.vs/NapiFix/v16/Server/sqlite3/storage.ide-wal
